
footer{
        .image{
            @media (max-width: 576px) {
                
                max-width: auto;
                display: flex;
                
             }
            @media (max-width: 768px) {
                 max-width: auto;
                display: flex;
                
             }
            @media (max-width: 1024px) {
                 max-width: auto;
                display: flex;
                
             }
            

            img{
                
                height: 50px;
                
            }
        }

        h2{
            @media (max-width: 576px) {

                text-align: center;
                padding: 10px 68px;
                
             }
            @media (max-width: 768px) {

                text-align: center;
                padding: 10px 68px;
                
             }
            @media (max-width: 1024px) {

                text-align: center;
                padding: 10px 0;
                
             }

             font-weight: bold;
        }

        p{
            
            font-weight: 500;
            color: gray;
        }

        .logo {

            @media (max-width: 576px) {
                
                max-width: 100%;
                
             }
            @media (max-width: 768px) {
                
                max-width: 100%;
                margin: 0 auto;
             }

             img{

                @media (max-width: 576px) {
                
                    display: block;
                    max-width: auto;
                    
                 }
                @media (max-width: 768px) {
                
                    display: block;
                    max-width: auto;
                    
                 }
                @media (max-width: 1024px) {
                
                    display: block;
                    max-width: auto;
                    
                 }
                 
               padding: 5px;

             }
        }

        ul li{

            @media (max-width: 576px) {
                
                max-width: 100%;
                text-align: center;
             }
            @media (max-width: 768px) {
                
                max-width: 100%;
                text-align: center;
             }

            font-weight: 500;
            color: gray;
        }

        .copy-section{
            text-align: center;
        }
    }   